body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Azul claro */
    margin: 0;
    padding: 20px;
}

header {
    background: #00796b; /* Verde escuro */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

section {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #00796b; /* Verde escuro */
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

button:hover {
    background: #004d40; /* Verde mais escuro */
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
    color: #d32f2f; /* Vermelho */
}
